<div class="flex-container">
  <div class="flex-item" *ngFor="let movie of movies$ | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ movie.image }}" alt="Movie photo" />
      <mat-card-content>
        <div class="score">
          <app-rating [rating]="movie.score"></app-rating>
          <p>
            <b>{{ movie.score }}</b>
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Avaliar</button>
        <button mat-raised-button>Trailer</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
